label {
    font-weight: bold;
}

.table-responsive {
    display: none; /* Hide all tables by default */
}

.row {
    margin-top: 5px !important;
    margin-bottom: 5px;
}

.toggle_container{   
    margin-top: -1px;
    border: 1px solid black;    
    display: none;
    flex-direction: column;
    padding: 3rem;
    background-color: rgb(244, 244, 244);
}
#materialProperties {
    display: flex;
    flex-direction: column;
}
.tooltip {
    position: fixed; /* Position the tooltip relative to the viewport */
    display: none;
    background-color: white;
    border: solid 2px black;
    border-radius: 5px;
    padding: 5px;
}