label {
    font-weight: bold;
}

.table-responsive {
    display: none; /* Hide all tables by default */
}

.row {
    margin-top: 5px !important;
    margin-bottom: 5px;
}

.toggle_container{   
    margin-top: -1px;
    border: 1px solid black;    
    display: none;
    flex-direction: column;
    padding: 10px;
}
#materialProperties {
    display: flex;
    flex-direction: column;
}