label {
    font-weight: bold;
}
h3 {
    margin-bottom: 2rem !important;
}

.table-responsive {
    display: none; /* Hide all tables by default */
}

.row {    
    margin-bottom: 1rem;
    margin-left: 1rem !important;
}

.toggle_container{   
    margin-top: -1px;
    border: 1px solid black;    
    display: none;
    flex-direction: column;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: rgb(244, 244, 244);
}
#materialProperties {
    display: flex;
    flex-direction: column;
}
.tooltip {
    position: fixed; /* Position the tooltip relative to the viewport */
    display: none;
    background-color: white;
    border: solid 2px black;
    border-radius: 5px;
    padding: 5px;
}
.info-icon {
    cursor: pointer;
    color: #acacb0;
}
#master-column { /* Container holding the heatmap, legend, information container. */
    display: none;
    align-items: flex-start;
    gap: 10px;
}
#heatmap-container {
    border: 1px solid black;
    margin-left: 50px;
    padding: 10px;
}
#legend-container {
    border: 1px solid black;
    margin-left: 10px;
    padding: 10px;
}
.info-containers { /* Vertical container holding the information fields. */
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#model-run-container {
    display: flex;
    width: 50rem;
    height: 150px;
    border: 1px solid black;
    margin-left: 10px;
    margin-right: 50px;
    padding: 10px;
    box-sizing: border-box;
}
.text-center {
    text-align: center;
    font-weight: bold;
    font-size: larger;
}
#detailed-view {
    display: flex;
    width: 50rem;
    height: 36.42rem;
    border: 1px solid black;
    margin-left: 10px;
    margin-right: 50px;
    padding: 10px;
    box-sizing: border-box;
}
