label {
    font-weight: bold;
}
h3 {
    margin-bottom: 2rem !important;
}

.table-responsive {
    display: none; /* Hide all tables by default */
}

.row {
    margin-bottom: 1rem;
    margin-left: 1rem !important;
}
/*background-color: #E5FFFF;*/
.toggle_container{
    margin-top: -1px;
    border: 1px solid black;
    display: none;
    flex-direction: column;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: rgb(244, 244, 244);
}
#materialProperties {
    display: flex;
    flex-direction: column;
}
.tooltip {
    position: fixed; /* Position the tooltip relative to the viewport */
    display: none;
    background-color: white;
    border: solid 2px black;
    border-radius: 5px;
    padding: 5px;
}
.info-icon {
    cursor: pointer;
    color: #acacb0;
}
#main-content {
    margin-top: -10px;
}
#master-column { /* Container holding the heatmap, legend, information container. */
    display: none;
    align-items: center;
    gap: 10px;
    margin-top: -25px;
    margin-bottom: 50px;
}
#heatmap-container {
    margin-left: 50px;
    padding: 10px;
}
#legend-container {
    margin-left: 10px;
    padding: 10px;
}
.info-containers { /* Vertical container holding the information fields. */
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    width: 50rem;
}
#model-run-container {
    display: flex;
    width: 100%;
    height: 149px;
    border: 1px solid black;
    margin-left: 10px;
}
#model-run-input {
    display: flex;
    width: 100%;
    text-align: left;
    font-size: medium;
    word-wrap: break-word;
    white-space: pre-wrap;
    margin-top: 10px;
    margin-bottom: 10px;
}
.text-center {
    text-align: left;
    font-weight: bold;
    font-size: larger;
}
.param-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}
.param-name {
    font-weight: bold;
    font-size: larger;
    text-align: right;
    padding: 10px;
}
.param-value {
    font-size: large;
    text-align: right;
    padding: 10px;
}
.param-value-left{
    font-size: large;
    text-align: left;
    padding-bottom: 10px;
    padding-top: 10px;
}
.detailed-views {
    display: none;
    width: 100%;
    height: 36.42rem;
    border: 1px solid black;
    margin-left: 10px;
    box-sizing: border-box;
}
.detailed-info-column {
    display: flex;
    width: 100%;
    flex-direction: column;
}
#detailed-info-column1 {
    display: flex;
}
.detail-container {
    display: flex;
    height: 100%;
    width: 100%;
    border-top: 1px solid black; /* Vertical separator lines between info sections */
    border-bottom: 1px solid black; /* Vertical separator lines between info sections */
    box-sizing: border-box;
    padding-left: 10px;
    margin-bottom: 10px;
}
.inner-detail-container {
    display: flex;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding-left: 20px;
    padding-bottom: 10px;
}
.inner-detail-container-general {
    display: flex;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding-left: 20px;
    padding-bottom: 10px;
    flex-direction: column;
}
.detailed-title {
    margin-left:10px;
    margin-top:10px;
    pointer-events: none;
    text-align: left;
    font-weight: bold;
    font-size: larger;
}
.text-field-input {
    padding-top: 10px;
}
/* Loading animation */
.spinner { /* Style for the loading animation */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; /* Put it in the topmost layer */
}
.loader { /* Style for the loading circle */
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #acacb0;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
@keyframes spin { /* Spinning animation */
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.blur { /* Blur effect for the background when loading */
    filter: blur(5px);
    pointer-events: none; /* Disable interactions while blurred */
}

/* New heatmap */
.horiz-area {
    display: flex;
    width: 1000px;
    margin-bottom: 5px;
    gap: 5px;
}
.white-background {
    background-color: white;
    align-items: center;
    display: inline-block;
    margin-bottom: 10px;
}
.compartment {
    border: solid 2px #000;
    border-radius:3px;
    height: 125px;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: small;
}
.nothing {
    width: 0px;
    height: 0px;
}
.air {
    width: 100%;
    margin-top: 20px;
    background-color: #D8F1F1;
}
.agricultural {
    background-color: #EDD5B8;
}
.urban {
    background-color: #CFCFCF;
}
.background {
    background-color: #A1AC78;
}
.freshwater {
    background-color: #BED4E3;
}
.coastal {
    background-color: #9DD9DF;
}
.ocean {
    background-color: #979DEB;
}
.sediment {
    background-color: #D7C4A5;
}
.empty {
    border: solid 2px white;
    border-radius:3px;
}
.new-legend-container {
    grid-column: span 2;
    border: solid 2px white;
    border-radius: 3px;
    width: 488px;
    height: 240px;
    text-align: left;
    align-items: start;
    z-index: 10;
}
legend-text {
    font-size: medium;
}
.new-legend-matrix {
    grid-column: span 2;
    border: solid 2px white;
    border-radius: 3px;
    width: 490px;
    height: 240px;
    text-align: left;
    align-items: start;
}
#compartment-19 {
    border: solid 2px transparent;
    border-radius:3px;
    color: transparent;
    position: relative;
    top: -125px;
}
#compartment-20 {
    border: solid 2px transparent;
    border-radius:3px;
    color: transparent;
    position: relative;
    top: -125px;
}
#compartment-21 {
    border: solid 2px transparent;
    border-radius:3px;
    color: transparent;
    position: relative;
    top: -125px;
}
#compartment-22 {
    border: solid 2px transparent;
    border-radius:3px;
    color: transparent;
    position: relative;
    top: -125px;
}
#compartment-23 {
    border: solid 2px transparent;
    border-radius:3px;
    color: transparent;
    position: relative;
    top: -125px;
}
#compartment-24 {
    position: relative;
    top: -115px;
}
