label {
    font-weight: bold;
}
h3 {
    margin-bottom: 2rem !important;
}

.table-responsive {
    display: none; /* Hide all tables by default */
}

.row {    
    margin-bottom: 1rem;
    margin-left: 1rem !important;
}

.toggle_container{   
    margin-top: -1px;
    border: 1px solid black;    
    display: none;
    flex-direction: column;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: rgb(244, 244, 244);
}
#materialProperties {
    display: flex;
    flex-direction: column;
}
.tooltip {
    position: fixed; /* Position the tooltip relative to the viewport */
    display: none;
    background-color: white;
    border: solid 2px black;
    border-radius: 5px;
    padding: 5px;
}