label {
    font-weight: bold;
}
h3 {
    margin-bottom: 2rem !important;
}

.table-responsive {
    display: none; /* Hide all tables by default */
}

.row {    
    margin-bottom: 1rem;
    margin-left: 1rem !important;
}

.toggle_container{   
    margin-top: -1px;
    border: 1px solid black;    
    display: none;
    flex-direction: column;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: rgb(244, 244, 244);
}
#materialProperties {
    display: flex;
    flex-direction: column;
}
.tooltip {
    position: fixed; /* Position the tooltip relative to the viewport */
    display: none;
    background-color: white;
    border: solid 2px black;
    border-radius: 5px;
    padding: 5px;
}
.info-icon {
    cursor: pointer;
    color: #acacb0;
}
#main-content {
    margin-top: 0px;
}
#master-column { /* Container holding the heatmap, legend, information container. */
    display: none;
    align-items: center;
    gap: 10px;
    margin-top: -15px;
    margin-bottom: 50px;
}
#heatmap-container {
    margin-left: 50px;
    padding: 10px;
}
#legend-container {
    /*border: 1px solid black;*/
    margin-left: 10px;
    padding: 10px;
}
.info-containers { /* Vertical container holding the information fields. */
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    /*margin-left: 10px;*/
    width: 50rem;
}
#model-run-container {
    display: flex;
    width: 100%;
    height: 149px;
    border: 1px solid black;
    margin-left: 10px;
}
#model-run-input {
    display: flex;
    width: 100%;
    text-align: left;
    font-size: medium;
    word-wrap: break-word;
    white-space: pre-wrap;
    margin-top: 10px;
    margin-bottom: 10px;
}
.text-center {
    text-align: left;
    font-weight: bold;
    font-size: larger;
}
.param-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}
.param-name {
    font-weight: bold;
    font-size: larger;
    text-align: right;
    padding: 10px;
}
.param-value {
    font-size: large;
    text-align: right;
    padding: 10px;
}
.param-value-left{
    font-size: large;
    text-align: left;
    padding-bottom: 10px;
    padding-top: 10px;
}
#detailed-view {
    display: none;
    width: 100%;
    height: 36.42rem;
    border: 1px solid black;
    margin-left: 10px;
    box-sizing: border-box;
}
.detailed-info-column {
    display: flex;
    width: 100%;
    flex-direction: column;
}
#detailed-info-column1 {
    display: flex;
}
.detail-container {
    display: flex;
    height: 100%;
    width: 100%;
    border-top: 1px solid black; /* Vertical separator lines between info sections */
    border-bottom: 1px solid black; /* Vertical separator lines between info sections */
    box-sizing: border-box;
    padding-left: 10px;
    margin-bottom: 10px;
}
.inner-detail-container {
    display: flex;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding-left: 20px;
    padding-bottom: 10px;
}
.inner-detail-container-general {
    display: flex;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding-left: 20px;
    padding-bottom: 10px;
    flex-direction: column;
}
.detailed-title {
    margin-left:10px;
    margin-top:10px;
    pointer-events: none;
    text-align: left;
    font-weight: bold;
    font-size: larger;
}
.text-field-input {
    padding-top: 10px;
}
/* Loading animation */
.spinner { /* Style for the loading animation */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; /* Put it in the topmost layer */
}
.loader { /* Style for the loading circle */
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #acacb0;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
@keyframes spin { /* Spinning animation */
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.blur { /* Blur effect for the background when loading */
    filter: blur(5px);
    pointer-events: none; /* Disable interactions while blurred */
}

/* New heatmap */
.horiz-area {
    display: flex;
    width: 1000px;
    margin-bottom: 10px;
    gap: 5px;
}
.comp-rect {
    border: solid 2px deeppink;
    border-radius:3px;
    height: 230px;
    width: 50%;
    justify-content: center;
    align-items: center;
    font-size: small;
}
.compartment {
    border: solid 2px #000;
    border-radius:3px;
    height: 115px;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: small;
}
.nothing {
    width: 0px;
    height: 0px;
}
.air {
    width: 100%;
    margin-top: 20px;
    border-color: #D8F1F1;
    /*text-shadow: 5px 5px 5px #D8F1F1;*/
    border-width: medium;
    /*background-color: #E5FFFF;*/
}
.agricultural {
    border-color: #EDD5B8;
    /*text-shadow: 5px 5px 5px #EDD5B8;*/
    border-width: medium;
    /*background-color: #FFE5C6;*/
}
.urban {
    border-color: #CFCFCF;
    /*text-shadow: 5px 5px 5px #CFCFCF;*/
    border-width: medium;
    /*background-color: #F2F2F2;*/
}
.background {
    border-color: #A1AC78;
    /*text-shadow: 5px 5px 5px #A1AC78;*/
    border-width: medium;
    /*background-color: #E5F5AB;*/
}
.freshwater {
    border-color: #BED4E3;
    /*text-shadow: 5px 5px 5px #BED4E3;*/
    border-width: medium;
    /*background-color: #D5EEFF;*/
}
.coastal {
    border-color: #9DD9DF;
    /*text-shadow: 5px 5px 5px #9DD9DF;*/
    border-width: medium;
    /*background-color: #CDFFFF;*/
}
.ocean {
    border-color: #979DEB;
    /*text-shadow: 5px 5px 5px #979DEB;*/
    border-width: medium;
    /*background-color: #C3CCFF;*/
}
.sediment {
    border-color: #D7C4A5;
    /*text-shadow: 5px 5px 5px #D7C4A5;*/
    border-width: medium;
    /*background-color: #FFFCE5;*/
}
.empty {
    border: solid 2px white;
    border-radius:3px;
}
.new-legend-container {
    grid-column: span 2;
    border: solid 2px white;
    border-radius: 3px;
    width: 490px;
    height: 240px;
    text-align: left;
    align-items: start;
}
.new-legend {

}
legend-text {
    font-size: medium;
}
.new-legend-matrix {
    grid-column: span 2;
    border: solid 2px white;
    border-radius: 3px;
    width: 490px;
    height: 240px;
    text-align: left;
    align-items: start;
}
#compartment-19 {
    border: solid 2px transparent;
    border-radius:3px;
    color: transparent;
    position: relative;
    top: -125px;
}
#compartment-20 {
    border: solid 2px transparent;
    border-radius:3px;
    color: transparent;
    position: relative;
    top: -125px;
}
#compartment-21 {
    border: solid 2px transparent;
    border-radius:3px;
    color: transparent;
    position: relative;
    top: -125px;
}
#compartment-22 {
    border: solid 2px transparent;
    border-radius:3px;
    color: transparent;
    position: relative;
    top: -125px;
}
#compartment-23 {
    border: solid 2px transparent;
    border-radius:3px;
    color: transparent;
    position: relative;
    top: -125px;
}
#compartment-24 {
    position: relative;
    top: -125px;
}


