<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UTOPIA WebApp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/libs/bootstrap.min.css') }}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand">Utopia WebApp</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav w-100">
                    <li class="nav-item">
                        <a class="nav-link active" id="mpp_btn" href="#" onclick="toggleOptions('mpp_container')">Microplastics Physical Properties</a>                    
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="ec_btn" href="#" onclick="toggleOptions('ec_container')">Environmental Characteristics</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="mwp_btn" href="#" onclick="toggleOptions('mwp_container')">Microplastics Weathering Properties</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="es_btn" href="#" onclick="toggleOptions('es_container')">Emission Scenario</a>
                    </li>
                    <li class="nav-item">
                        <button id="run-model" class="btn btn-success">Run Model</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>        
        <!-- The div for the content to be toggled -->
            <div class="container" id="input_variables_container">
                <div id="mpp_container" class="toggle_container">
                    <h3>Microplastics Physical Properties</h3>
                    <div class="row">
                        <label for="mpp_composition" class="col-md-4">Microplastics Physical Property Composition:</label>
                        <select id="mpp_composition" class="col-md-3" onchange="generateMaterialProperties()">
                            <option value="PVC">PVC</option>
                            <option value="PE">PE</option>
                            <option value="PA">PA</option>
                        </select>
                    </div>                
                    <div id="materialProperties">
                    <!-- will be dynamically generated -->
                    </div>
                </div>
                <div id="ec_container" class="toggle_container">
                    <h3>Suspended Particulates Properties</h3>
                        <div class="row">
                            <label class="col-md-4" for="spmDiameter">SPM Diameter (µm):</label>
                            <input class="col-md-3" type="number" id="spmDiameter" value="0.5">
                        </div>
                        <div class="row">    
                            <label class="col-md-4" for="spmDensity">SPM Density (kg/m³):</label>
                            <input class="col-md-3" type="number" id="spmDensity" value="2000">
                        </div>
                        <div class="row">
                            <label class="col-md-4">Compartments Properties:</label>
                            <button class="col-md-3">Edit File</button>
                        </div>
                </div>
                <div id="mwp_container" class="toggle_container">
                    <h3>Fragmentation Style</h3>
                    <div class="row">
                        <label class="col-md-4" for="fragmentation_style">Options:</label>
                        <select class="col-md-3" id="fragmentation_style" onchange="changeFragmentationStyle()">
                            <option value="sequential_fragmentation">Sequential</option>
                            <option value="erosive_fragmentation">Erosive</option>
                            <option value="mixed_fragmentation">Mixed</option>
                            <option value="no_fragmentation">No Fragmentation</option>                        
                        </select>
                    </div>
                    <div class="row">
                        <label class="col-md-4">Process Input Parameters</label>
                        <label class="col-md-3">TBD</label>
                    </div>
                </div>
                <div id="es_container" class="toggle_container">
                    <h3>MP form</h3>
                    <div class="row">
                        <label class="col-md-4" for="mp_form">Options:</label>
                        <select class="col-md-3" id="mp_form">
                            <option value="freeMP">Free</option>
                            <option value="heterMP">Heter</option>
                            <option value="biofMP">Biof</option>
                            <option value="heterBiofMP">HeterBiof</option>                        
                        </select>
                    </div>
                    <div class="row">
                        <label class="col-md-4" for="es_bin_size">Bin Size Options:</label>
                        <select class="col-md-3" id="es_bin_size">
                            <option value="a">0.5 µm</option>
                            <option value="b">5 µm</option>
                            <option value="c">50 µm</option>
                            <option value="d">500 µm</option>                        
                            <option value="e">5000 µm</option>                           
                        </select>
                    </div>
                </div>
            </div>
        <!--Visualizations container-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <div class="container-fluid">
                    <a class="navbar-brand">Visualizations</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav w-100">
                            <li class="nav-item">
                                <a class="nav-link active" id="mass_fraction_distribution_btn" href="#" onclick="">Mass Fraction Distribution</a>                    
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" id="number_fraction_distribution_btn" href="#" onclick="">Number Fraction Distribution</a>                    
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        
        <!-- Heatmap container -->
            <div class="mt-5">
                <div class="">
                    <div class="">
                        <div id="heatmap-container" class="text-center"></div> <!-- Centered heatmap container -->
                    </div>
                </div>
            </div>
        
    <script src="{{ url_for('static', filename='js/libs/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/libs/d3.v7.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main-elements.js') }}"></script>
    <script src="{{ url_for('static', filename='js/d3-heatmap.js') }}"></script>

</body>

</html>